{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <h1>Track Every Rupee.</h1>

        <p>
            Manage your expenses, analyze your spending,
            and build better financial habits.
        </p>

        <a href="#" class="btn">
            Get Started
        </a>

    </div>

</section>

<section class="features">

    <div class="container">

        <div class="card">

            <h3>Expense Tracking</h3>

            <p>Record every expense easily.</p>

        </div>

        <div class="card">

            <h3>Analytics</h3>

            <p>Visualize spending with charts.</p>

        </div>

        <div class="card">

            <h3>Secure</h3>

            <p>Your data stays protected.</p>

        </div>

    </div>

</section>

{% endblock %}